Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Build.zip
Build/WindowsNoEditor/Unreal_Jam_GR10/Content/Paks/Unreal_Jam_GR10-WindowsNoEditor.pak
